<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://instagram.com/onkar_22r" title="Instagram" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/Onkar3107" title="Github" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-github"></i></a>
            <a href="https://discord.com/users/1252860897488277607" title="Discord" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord"></i></a>
            <a href="https://www.linkedin.com/in/onkar-rane-8841b72a7/" title="LinkedIn" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">
            &copy; 2025 Onkar Rane. All Rights Reserved<br>
        </div>
        <div class="f-info-links">
            <a href="/about">About</a> &nbsp;&middot;&nbsp;
            <a href="/contact">Contact</a> &nbsp;&middot;&nbsp;
            <a href="/projects">Projects</a>
        </div>
    </div>
</footer>
